#workTime {
  flex: 1; }
  #workTime > #time .hour {
    color: #505050;
    transition: color .7s;
    position: relative; }
    #workTime > #time .hour > p, #workTime > #time .hour > span {
      font-size: 10em;
      font-family: 'lcd1'; }
    #workTime > #time .hour > p {
      transition: opacity .5s; }
      #workTime > #time .hour > p.null {
        opacity: .2; }
    #workTime > #time .hour > span {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .1; }
    #workTime > #time .hour:not(.separator) {
      box-shadow: 0px 8px #505050;
      height: 155px; }
  #workTime > #time.inPause p {
    color: #e97412; }

article#buttons {
  width: 60%;
  flex: .3;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  article#buttons > span {
    cursor: pointer;
    font-size: 7em;
    color: #3a3a3a;
    text-shadow: 0px 0px 8px #292929;
    transition: .1s color, .7s text-shadow; }
    article#buttons > span:hover {
      text-shadow: 0px 0px 12px #292929;
      color: #e97412; }
  article#buttons > div {
    display: none; }
  article#buttons.begin > span:not(#start),
  article#buttons:not(.begin) > #start,
  article#buttons:not(.pause) > #goToWork,
  article#buttons.pause > #pause,
  article#buttons.end > span {
    opacity: 0;
    display: none;
    z-index: -1;
    pointer-events: none; }
  article#buttons.end > div {
    display: inline-block; }

#statsUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0px 10px #2c2c2c;
  padding: .5em 0; }
  #statsUser > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em; }
    #statsUser > div > p, #statsUser > div > p > span, #statsUser > div > label {
      font-family: 'lobster_1.3regular'; }
    #statsUser > div:not(#timeSupp) > p {
      font-size: 2em;
      color: #e97412; }
    #statsUser > div#timeSupp > p {
      font-size: 2.5em; }
      #statsUser > div#timeSupp > p > span {
        color: black; }
        #statsUser > div#timeSupp > p > span.color {
          margin: 0 .2em;
          color: #e97412; }

@keyframes hover {
  0% {
    box-shadow: 0 0 0 0 #e97412; }
  80% {
    box-shadow: 0 0 0 15px transparent; } }
